* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "item-1 item-1 item-1 item-1"
        "item-2 item-3 item-3 item-4"
        "item-5 item-5 item-5 item-5";
    gap: 1rem;
    padding: 2rem;
}

.item {
    padding: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    /* text-align: top; */
}

#item-1 {
    grid-area: item-1;
    background: lightblue;
}
#item-2 {
    grid-area: item-2;
    background: lightcoral;
}
#item-3 {
    grid-area: item-3;
    background: lightgoldenrodyellow;
}
#item-4 {
    grid-area: item-4;
    background: lightpink;
}
#item-5 {
    grid-area: item-5;
    background: lightgray;
}

@media (max-width: 820px) {
    .grid-container {
        grid-template-areas:
            "item-1 item-1 item-1 item-1"
            "item-2 item-2 item-3 item-3"
            "item-4 item-4 item-4 item-4"
            "item-5 item-5 item-5 item-5";
    }
}

@media (max-width: 414px) {
    .grid-container {
        grid-template-areas:
            "item-1"
            "item-2"
            "item-3"
            "item-4"
            "item-5";
    }
}
