body {
    background-color: #32465f;
    margin: 300px;
    text-align: center;
}

button {
    border: none;
    color: #fff;
    margin-right: 10px;
}

.big {
    padding: 12px 50px;
}

.medium {
    padding: 9px 30px;
}

.small {
    padding: 7px 15px;
}

.round {
    border-radius: 20px;
}

.transparent {
    background-color: transparent;
}

#btn1 {
    background: #00dd76;
}

#btn1:hover {
    background: #02af5f;
}

#btn2 {
    background: #fc2423;
}

#btn2:hover {
    background: #d31f1f;
}

#btn3 {
    background: #0e8ddd;
}

#btn3:hover {
    background: #0077c6;
}

#btn4 {
    background: #f47900;
}

#btn4:hover {
    background: #cb6000;
}

#btn5 {
    background: #f1cd02;
}

#btn5:hover {
    background: #c9a600;
}

#btn6 {
    background: #7c8c8c;
}

#btn6:hover {
    background: #647475;
}

#btn7 {
    border: 2px solid #00dd76;
}

#btn7:hover {
    background: #00dd76;
}
#btn8 {
    border: 2px solid #fc2423;
}

#btn8:hover {
    background: #fc2423;
}

#btn9 {
    border: 2px solid #0e8ddd;
}

#btn9:hover {
    background: #0e8ddd;
}

#btn10 {
    border: 2px solid #f47900;
}

#btn10:hover {
    background: #f47900;
}

#btn11 {
    border: 2px solid #f1cd02;
}

#btn11:hover {
    background: #f1cd02;
}
#btn12 {
    border: 2px solid #7c8c8c;
}

#btn12:hover {
    background: #7c8c8c;
}
