* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    font-family: "Red Hat Mono", monospace;

    background-color: #444;
    color: #fff;
    line-height: 2em;
}

.navbar {
    list-style: none;
    overflow: auto;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
}

.navbar li a:hover {
    color: antiquewhite;
}

#main-header,
#job-description {
    text-align: center;
    margin: 8px;
    padding: 2px;
}

#heart-icon {
    font-size: 24px;
    color: palevioletred;
    padding: 1px;
    margin: 1px;
}

#self-img {
    width: 300px;
    border-radius: 18px;
    margin: 0 auto;
    padding: 5px;
    display: block;
}

#center-img {
    display: block;
    float: inline-end;
    margin: 3px;
    padding: 2px;
}

p {
    font-size: 18px;
    line-height: 2.4em;
    margin: 5px;
    padding: 3px;
    text-align: center;
}

#passion {
    color: palevioletred;
    font-weight: bold;
    font-size: large;
    margin: 1px;
    padding: 1px;
}

.button-title {
    margin: 6px;
    padding: 6px;
    text-align: center;
}

button {
    background-color: rgb(216, 207, 207);
    border-radius: 6px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.8);
    font-family: "Red Hat Mono", monospace;
    padding: 6px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(151, 151, 151);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

#follow {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.card-container {
    margin: 0 auto;
    padding: 2px;
}

.card-row {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.facebook-card,
.linkedin-card,
.github-card {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 84px;
    background-color: rgb(236, 222, 235);
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
}

#facebook,
#linkedin,
#github {
    width: 50px;
    margin: 1px;
    padding: 1px;
}

.facebook-card:hover,
.linkedin-card:hover,
.github-card:hover {
    transform: scale(1.1);
}

.social-link {
    font-size: smaller;
    margin-top: 0;
}

.botoom-btn {
    background: rgb(236, 222, 235);
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 50px;
}
