* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: #444;
    color: #fff;
    position: absolute;
    width: 300px;
    height: 150px;
}

#second {
    left: 320px;
}

#third {
    left: 640px;
}

#fourth {
    left: 960px;
}

@media (max-width: 1297px) {
    #first {
        left: 0;
    }
    #second {
        left: 0;
        top: 170px;
    }

    #third {
        left: 0;
        top: 340px;
    }

    #fourth {
        left: 0;
        top: 510px;
    }
}
