body {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: red;
    width: 200px;
    height: 200px;
}

.box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: purple;
    transform: translateX(-200px);
    transition: 1s;
}

.box:hover::before {
    transform: translateX(0);
    background: green;
}
