* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(219, 184, 235);
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 5px;
}
.nav-item {
    padding: 20px;
}

#home-page {
    width: 300px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

#home-page h1 {
    border-radius: 50%;
    border: 1px dashed blue;
    text-align: center;
    padding: 20px;
}

#pics {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

#pics p {
    width: 200px;
    margin: 15px;
}

#container-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
