table,
th,
td {
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
}

#table-headers {
    background-color: lightpink;
}

#first-line {
    background-color: LightGoldenRodYellow;
}

#second-line {
    background-color: LightGray;
}

#third-line {
    background-color: LightSkyBlue;
}

#fourth-line {
    background-color: PaleGreen;
}

#fifth-line {
    background-color: PeachPuff;
}
