* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
}

body {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.input-container {
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

input {
    height: 2rem;
    text-align: center;
}

.search-btn {
    width: 5rem;
    height: 2rem;
    font-size: 1.3rem;
    border: solid #fff 1px;
    cursor: pointer;
}

.users-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.user-info-container > * {
    align-self: center;
}

.user-image {
    width: 10rem;
    height: 10rem;
}

a {
    text-decoration: none;
    color: #fff;
}
