* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    text-align: center;
}

p {
    font-size: 1.6rem;
    margin-top: 2rem;
    position: relative;
}

a {
    position: relative;
}

a::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 0%;
    transform: translateY(-100%) translateX(-50%);
    left: 50%;
    width: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: yellow;
    color: #000;
    text-align: center;
    display: none;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -0.25rem;
    top: 0%;
    transform: translateY(-10%);
    border: 0.5rem solid yellow;
    border-color: yellow transparent transparent transparent;
    display: none;
}

a:hover::before,
a:hover::after {
    display: block;
}
