* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.title {
    align-self: center;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    border: 1px solid black;
    width: 90%;
    background: #5585b5;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    align-self: center;
    font-size: 1.3rem;
    height: 2.5rem;
}

.cell {
    display: flex;
    justify-content: center;
    width: 20%;
    border: 1px solid black;
    height: inherit;
}

.row:nth-child(2n) {
    background: #79c2d0;
}

.row:nth-child(2n + 1) {
    background: #bbe4e9;
}

.row:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 500;
    background: #53a8b6;
}
